<!DOCTYPE html>
<html lang="en">

    <head>
        
        <title>Can We Get There? - About</title>
        <link rel="icon" href="../assets/favicon.ico" />
    
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap" rel="stylesheet">
        <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/custom.min.css">
        
      </head>
    
    
    
    <body class="vh-100" style="background-image: url('/assets/background.jpg'); background-size: cover;">
    
        <div class="positon-relative rounded-circle">
            <div class="position-absolute top-0 end-0 p-2 rounded-circle">
                    <button type="submit" class="btn btn-primary rounded-circle" onclick="window.location='/';"><p class="text-white m-0 p-0"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                      </svg></p></button>
            </div>
            
        </div>
    
        <div class="h-100  d-flex align-items-center justify-content-center p-4" >
    
                <div class="bg-white shadow rounded text-center w-75 m-auto d-flex align-items-center flex-column justify-content-center" style="--bs-bg-opacity: .9; min-height: 75%;">
        
                    <div class="container-md mt-4 mb-auto">
                        <p class="h1 text-primary mb-4"> About </p>
    
                        <div class="text-start ms-4 mt-5">
                            <p>
                                What if you could travel through Wikipedia? Well, using this tool, you can!
    
                            </p>
    
                            <p>
                                Starting from any Wikipedia article, you will travel only by clicking the links contained within a certain page to get to other pages.
                            </p>
    
                            <p>
                                To begin your trip, enter the link of an initial Wikipedia article and the link of the article that you want to get to, as well as the number of stops you want to make in between (a good number is usually between 0 and 5 because no one likes a trip with a lot of layovers). Then, we will tell if you can get from the initial article to the destination article making at most the number of stops you selected!
                            </p>
    
                        </div>
    
                    </div>
    
    
                        <div class="row d-flex align-items-end justify-content-center ms-auto me-auto">
                                <p class="text-muted mb-0 text-center">
                                    <small>
                                        © <a href="https://jonasccosta.github.io/" class="text-muted">Jonas Costa</a>
                                    </small>
                                </p>
        
                                <p class="text-muted text-center mb-0">
                                    <small>
                                        Background image by <a href="https://unsplash.com/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" class="text-muted">Annie Spratt</a> on <a href="https://unsplash.com/s/photos/travel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" class="text-muted">Unsplash</a>
                                    </small>
                                </p>
    
                                <p class="text-muted text-center">
                                    <small>
                                        <a target="_blank" href="https://icons8.com/icon/s0ty1MkuGZIw/travelling" class="text-muted">Travelling</a> icon by <a target="_blank" href="https://icons8.com" class="text-muted">Icons8</a>
                                    </small>
    
                                </p>
    
                        </div>
    
                            
    
                            
                    </div>
    
                    
                    
    
        
        </div>
        
    
    </body>
</html>
